{
  "log": {
    "_recordingName": "buildUserGroupUserRelationshipsShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e8a7fd26c06989d68611278bfe2e8dfd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone2-dev-ed.my.salesforce.com/services/data/v50.0/sobjects/User/describe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 75,
            "text": "[{\"message\":\"Session expired or invalid\",\"errorCode\":\"INVALID_SESSION_ID\"}]"
          },
          ],
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Token"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 149,
      },
      {
        "_id": "10ffabe0849d7e20adc7be352228e166",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.salesforce.com/services/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 657,
            "text": "{\"access_token\":\"[REDACTED]\",\"signature\":\"[REDACTED]\",\"scope\":\"refresh_token api\",\"instance_url\":\"https://jupiterone2-dev-ed.my.salesforce.com\",\"id\":\"https://login.salesforce.com/id/00D5e000001CtEcEAK/0055e000003CLIZAA4\",\"token_type\":\"Bearer\",\"issued_at\":\"1623874120208\"}"
          },
            {
              "domain": ".salesforce.com",
              "expires": "2022-06-16T20:08:40.000Z",
              "maxAge": 31536000,
              "name": "BrowserId",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 505,
      },
      {
        "_id": "e8a7fd26c06989d68611278bfe2e8dfd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone2-dev-ed.my.salesforce.com/services/data/v50.0/sobjects/User/describe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 43510,
            "text": "{\"actionOverrides\":[],\"activateable\":false,\"associateEntityType\":null,\"associateParentEntity\":null,\"childRelationships\":[{\"cascadeDelete\":false,\"childSObject\":\"AIInsightAction\",\"deprecatedAndHidden\":false,\"field\":\"CreatedById\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":null,\"restrictedDelete\":false},{\"cascadeDelete\":false,\"childSObject\":\"AIInsightAction\",\"deprecatedAndHidden\":false,\"field\":\"LastModifiedById\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":null,\"restrictedDelete\":false},{\"cascadeDelete\":false,\"childSObject\":\"AIInsightFeedback\",\"deprecatedAndHidden\":false,\"field\":\"CreatedById\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":null,\"restrictedDelete\":false},{\"cascadeDelete\":false,\"childSO[...]
