{
  "log": {
    "_recordingName": "fetchUserRolesShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "a3be0627b6d3953c8b9bb401053bafa4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone2-dev-ed.my.salesforce.com/services/data/v50.0/sobjects/UserRole/describe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 75,
            "text": "[{\"message\":\"Session expired or invalid\",\"errorCode\":\"INVALID_SESSION_ID\"}]"
          },
          ],
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Token"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 121,
      },
      {
        "_id": "10ffabe0849d7e20adc7be352228e166",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.salesforce.com/services/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 661,
            "text": "{\"access_token\":\"[REDACTED]\",\"signature\":\"[REDACTED]\",\"scope\":\"refresh_token api\",\"instance_url\":\"https://jupiterone2-dev-ed.my.salesforce.com\",\"id\":\"https://login.salesforce.com/id/00D5e000001CtEcEAK/0055e000003CLIZAA4\",\"token_type\":\"Bearer\",\"issued_at\":\"1623783378264\"}"
          },
            {
              "domain": ".salesforce.com",
              "expires": "2022-06-15T18:56:18.000Z",
              "maxAge": 31536000,
              "name": "BrowserId",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246,
      },
      {
        "_id": "a3be0627b6d3953c8b9bb401053bafa4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone2-dev-ed.my.salesforce.com/services/data/v50.0/sobjects/UserRole/describe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3703,
            "text": "{\"actionOverrides\":[],\"activateable\":false,\"associateEntityType\":null,\"associateParentEntity\":null,\"childRelationships\":[{\"cascadeDelete\":false,\"childSObject\":\"Group\",\"deprecatedAndHidden\":false,\"field\":\"RelatedId\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":null,\"restrictedDelete\":false},{\"cascadeDelete\":false,\"childSObject\":\"Name\",\"deprecatedAndHidden\":false,\"field\":\"UserRoleId\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":null,\"restrictedDelete\":false},{\"cascadeDelete\":false,\"childSObject\":\"RecentlyViewed\",\"deprecatedAndHidden\":false,\"field\":\"UserRoleId\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":null,\"restrictedDelete\":false},{\"cascadeDelete\":false,\"childSObject\":\"User\",\"deprecatedAndHidden\":false,\"field\":\"UserRoleId\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":\"Users\",\"restrictedDelete\":false},{\"cascadeDelete\":false,\"childSObject\":\"UserChangeEvent\",\"deprecatedAndHidden\":false,\"field\":\"UserRoleId\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":null,\"restrictedDelete\":false},{\"cascadeDelete\":false,\"childSObject\":\"UserRole\",\"deprecatedAndHidden\":false,\"field\":\"ParentRoleId\",\"junctionIdListNames\":[],\"junctionReferenceTo\":[],\"relationshipName\":null,\"restrictedDelete\":false}],\"compactLayoutable\":false,\"createable\":true,\"custom\":false,\"customSetting\":false,\"deepCloneable\":false,\"defaultImplementation\":null,\"deletable\":true,\"deprecatedAndHidden\":false,\"extendedBy\":null,\"extendsInterfaces\":null,\"feedEnabled\":false,\"fields\":[{\"aggregatable\":true,\"aiPredictionField\":false,\"autoNumber\":false,\"byteLength\":18,\"calculated\":false,\"calculatedFormula\":null,\"cascadeDelete\":false,\"caseSensitive\":false,\"compoundFieldName\":null,\"controllerName\":null,\"createable\":false,\"custom\":false,\"defaultValue\":null,\"defaultValueFormula\":null,\"defaultedOnCreate\":true,\"dependentPicklist\":false,\"deprecatedAndHidden\":false,\"digits\":0,\"displayLocationInDecimal\":false,\"encrypted\":false,\"externalId\":false,\"extraTypeInfo\":null,\"filterable\":true,\"filteredLookupInfo\":null,\"formulaTreatNullNumberAsZero\":false,\"groupable\":true,\"highScaleNumber\":false,\"htmlFormatted\":false,\"idLookup\":true,\"inlineHelpText\":null,\"label\":\"Role ID\",\"length\":18,\"mask\":null,\"maskType\":null,\"name\":\"Id\",\"nameField\":false,\"namePointing\":false,\"nillable\":false,\"permissionable\":false,\"picklistValues\":[],\"polymorphicForeignKey\":false,\"precision\":0,\"queryByDistance\":false,\"referenceTargetField\":null,\"referenceTo\":[],\"relationshipName\":null,\"relationshipOrder\":null,\"restrictedDelete\":false,\"restrictedPicklist\":false,\"scale\":0,\"searchPrefilterable\":false,\"soapType\":\"tns:ID\",\"sortable\":true,\"type\":\"id\",\"unique\":false,\"updateable\":false,\"writeRequiresMasterRead\":false},{\"aggregatable\":true,\"aiPredictionField\":false,\"autoNumber\":false,\"byteLength\":240,\"calculated\":false,\"calculatedFormula\":null,\"cascadeDelete\":false,\"caseSensitive\":false,\"compoundFieldName\":null,\"controllerName\":null,\"createable\":true,\"custom\":false,\"defaultValue\":null,\"defaultValueFormula\":null,\"defaultedOnCreate\":false,\"dependentPicklist\":false,\"deprecatedAndHidden\":false,\"digits\":0,\"displayLocationInDecimal\":false,\"encrypted\":false,\"externalId\[...]
